.hidden {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/*header*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  color: #4d5ae5;
}
.header-logo {
  display: block;
  padding: 16px 0;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/*mobile-menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mobile-menu-nav {
  margin-bottom: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.nav-item-menu {
  color: #2e2f42;
  margin-bottom: 40px;
}
.nav-link-menu.current {
  position: relative;
  color: #404bbf;
}
.nav-link-menu.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.nav-link-menu {
  color: #2e2f42;
}
.nav-link-menu:hover,
.nav-link-menu:focus,
.contacts-link-menu:hover,
.contacts-link-menu:focus,
.nav-link-menu.current {
  color: #404bbf;
}
.contacts-list-menu {
  margin-bottom: 40px;
}
.contacts-link-menu {
  display: block;
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu .social-list {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  list-style: none;
}
.mobile-menu .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .social-icon {
  fill: #f4f4fd;
}
.mobile-menu .social-link:hover,
.mobile-menu .social-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*hero*/
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set(
      url(../images/people-office1.jpg) 1x,
      url(../images/people-office2x.jpg) 2x
    );
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-repeat: no-repeat;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
  max-width: 216px;
  align-items: center;
}
.btn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    max-width: 768px;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 36px;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 1440px;
  }
  .main-title {
    margin: 0 auto 48px;
  }
}
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}
.principles-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.principles-item {
  background-color: #ffffff;
  width: 100%;
}
.icon-wrapper {
  display: none;
}
.advantages .block-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages .block-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .principles-list {
    gap: 72px 24px;
  }
  .principles-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages .block-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .principles-list {
    align-items: center;
    gap: 24px;
  }
  .principles-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }
  .icon {
    fill: #2e2f42;
  }
  .advantages .block-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .advantages .block-text {
    font-weight: 400;
    max-width: 264px;
  }
}
/*team*/
.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team .block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team .block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 264px;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-item h3 {
  text-align: center;
  margin-bottom: 8px;
}
.team-item p {
  text-align: center;
  margin-bottom: 8px;
}
.text-center {
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  .team-item {
    max-width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
  }
}
/*portfolio*/
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.portfolio-item {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item h3 {
  margin-bottom: 8px;
}
.overlay p {
  display: none;
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio .block-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
  }
  .overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay img {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay p {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .overlay p,
  .portfolio-item:focus .overlay p {
    transform: translateY(0);
  }
}
